<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniPayment Client Example | {{title}}</title>
    <!-- Main CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/site.css') }}"/>

    <!-- Favicon -->
    <link href="{{ url_for('static', filename= 'favicon.ico') }}" type="image/x-icon"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">UniPayment Example</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://www.unipayment.io" target="_blank">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="create-invoice">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="query-invoice">Query</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://unipayment.readme.io" target="_blank">APIDoc</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-center">
                    <h2>Privacy Policy</h2>
                </div>
                <p>Use this page to detail your site's privacy policy.</p>
            </div>
        </div>
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2022 - UniPayment.Client.Example - <a href="/privacy">Privacy</a>
    </div>
</footer>

<footer>
    <script src="{{ url_for('static', filename= 'js/site.js') }}"></script>
</footer>
</body>
</html>